Notes.rtf
USF_LA_Su15_project.pdf
.Rapp.history
Invertible_Binary_Matrices.aux
Invertible_Binary_Matrices.log
Invertible_Binary_Matrices.synctex.gz
Invertible_Binary_Matrices.tex
grid_sol_2_30_1_05_95_05_10000.Rda
